.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(254, 252, 176);
}

.container .titleTag{
    font-size: 20px;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    justify-content: center;
}

.container .titleTag h3{
    color: #fff;
    background-color: #000;
    padding: 10px 80px;
    text-align: center;
    border-radius: 8px;
    /* box-shadow: 1px 0 15px #a3a2a2; */
}

.container .randomQuote{
    display: flex;
    flex-direction: column;
    height: 40%;
    padding: 40px;
}

.container .randomQuote h5{
    margin: 20px 0;
    background-color: #0daea1;
    padding: 10px 0;
    width: 12%;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    border-radius: 8px;
}

.container .randomQuote p{
    padding: 20px 0 20px 20px;
    text-wrap: wrap;
    font-size: 18px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    line-height: 50px;
    font-family: "Roboto", sans-serif !important;
}

.container .randomQuote p span{
    background-color: #000000;
    padding: 4px 20px;
    color: #fff;
    border-radius: 8px;
    font-size: 10px;
}

.container .footAction{
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 0 40px 0 40px;
    margin-top: 90px;
    justify-content: space-between;
    align-items: center;
}

.container .footAction .actBtns button{
    position: relative;
    outline: 0;
    border: 0;
    padding: 6px 25px;
    font-size: 12px;
    background-color: #000000;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    opacity: 100%;
    transition: .5s ease;
}

.container .footAction .actBtns button:nth-child(2){
    margin: 0 20px;
}

.container .footAction p{
    margin-right: 20px;
    font-style: italic;
    text-decoration: underline;
}


.container .footAction .actBtns button:hover{
    opacity: 70%;
}

/* .container .footAction .actBtns button:nth-child(2):hover{
    background-color: transparent;
    color: #000000;
    border: 1px solid #000;
    opacity: 100%;
} */



/* @media screen and (max-width: 320px) {

    .container .titleTag{

        font-size: 10px;

    }
    .container .randomQuote h5{
        width: 50%;
    }
} */